<h1>Show</h1>

<ul>
  <li><%= @publisher.name %></li>
  <li><%= @publisher.tel %></li>
  <li><%= @publisher.address %></li>
  <li><%= @publisher.note %></li>
  <li><%= @publisher.online %></li>
</ul>
